#contact {
    background: url(../../assets/Background_Contacts.png) no-repeat bottom center / cover;
    height: 80vh;

     & .header{
        margin-bottom: 3rem;
    }

    & .social-button {
        background-color: var(--gray-400);
        padding: .875rem;
        border-radius: .5rem;
        border: 1.5px solid var(--gray-400);

        &:hover {
            border-color: var(--blue);
        }

        & img[src*="Logo"]{
            width: 1.75rem;
            height: 1.75rem;
        }

        & p{
            margin-right: auto;
            font-weight: 500;
        }

         & img[src*="ArrowUpRight"]{
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}