#services {
    background-color: var(--gray-600);
    padding-block: 5.5rem;
    margin-block: 8rem;

    & .header{
        margin-bottom: 3.5rem;
    }

    & .service-card {
        border-radius: .75rem;
        padding: 1.25rem;
        border: 2px solid var(--gray-500);

        & img{
            width: 3rem;
            height: 3rem;
        }
    }
}